<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.0.xsd"
        name="@@PLUGIN_NAME@@" version="@@PLUGIN_VERSION@@" class="io.github.seiferma.jameica.hibiscus.dkb.creditcard.DKBScraperPlugin">

  <description>@@PLUGIN_DESCRIPTION@@</description>
  <url>@@PLUGIN_DOWNLOAD_URL@@</url>
  <homepage>@@PLUGIN_URL@@</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="@@JAMEICA_VERSION@@+">
    <import plugin="hibiscus" version="@@HIBISCUS_VERSION@@+" required="true" />
  </requires>

  <classfinder>
    <include>dkb\.creditcard\.jar</include>
    <include>.*\.class</include>
  </classfinder>

</plugin>

